{
    "plugins": [
        ["@babel/transform-runtime"],
        "@babel/plugin-transform-modules-commonjs",
        "add-module-exports",
        "react-html-attrs",
    ],
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", { "useBuiltIns": false }]
    ]
}
