{
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": [
    "standard",
    "react",
    "promise"
  ],
  "parser": "babel-eslint",
  "env": {
    "node": true,
  },
  "rules": {
    "react/prop-types": [0 , {}],
    "no-duplicate-imports": off,
    "import/no-duplicates" : off,
    "no-unused-vars": ['error', {
      argsIgnorePattern: '^_',
      varsIgnorePattern: '^_'
      } ],
  }
}
