<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Github Language Stats</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//allenfang.github.io/react-bootstrap-table/css/react-bootstrap-table-all.min.css">
  </head>

  <div id="wrapper">
    <div id="header">
      <h1>Git<b>Hut 2.0</b></h1>
      <h2>A small place to discover languages in GitHub</h2>
      <div class="social social-top">
        <a href="//github.com/madnight/githut/" target="_blank" title="GitHub Repository">
          <i class="fa fa-github"></i></a>
      </div>
  </div>

  <body>
    <div id="app"></div>
  </body>

  <div id="footer">
    <div id="licence" class="clearfix">
      Credits to <a href="//github.com/littleark">Carlo Zapponi</a>
      <br>
      This work is licensed under the
      <a rel="license" href="//www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">
      GNU Affero General Public License
      </a>
    </div>
  </div>

</html>
