bg-color = #e8f8ff

html
  overflow-y scroll

html, body
  background bg-color
  height 100%
  font-family 'Open Sans', sans-serif
  font-weight 300
  background -webkit-gradient(radial, center center, 0px,
    center center, 100%, color-stop(0%,#ffffff), color-stop(100%,bg-color))
  background -webkit-radial-gradient(center, ellipse cover,
    #ffffff 0%, bg-color 100%)
  background -o-radial-gradient(center,
    ellipse cover,  #ffffff 0%,bg-color 100%)
  background -ms-radial-gradient(center,
    ellipse cover,  #ffffff 0%,bg-color 100%)
  background radial-gradient(ellipse at center,  #ffffff 0%,bg-color 100%)

h1,h2,h3,h4,h5,h6
  text-align center

#githut-2-0
#related-work
#data
  margin-top 30px
  margin-bottom 15px

a
  text-decoration none
  color #006AAD
  &:hover
    color #A06535

#header
  width 80%
  min-width 960px
  margin 0 auto 10px
  padding-bottom 5px
  position relative
  h1
    font-size 38px
    color #A06535
    font-weight 400
    text-align center
    padding 0
    b
      font-weight 700
  h2
    font-size 13px
    color #666
    font-weight 300
    margin 0
    text-align center
    padding 0
    text-transform uppercase

#footer
  width 600px
  margin 0 auto 10px
  padding-bottom 5px
  font-size 11px
  #licence
    font-size 10px
    width 380px
    margin 0 auto
    line-height 150%
    text-align center
    margin-top 20px
    padding-top 10px
    clear both
    div
      text-align left
    a
      &.cc
        float left
        margin-right 10px

.social
  text-align center
  font-size 23px
  width 110px
  height 23px
  &.social-top
    position absolute
    right 20px
    top 5px
    font-size 20px

#footer .social a,
.social-top a
  color #666
  background-color transparent
  width 19px
  height 20px
  float left
  margin 0 20px

.table-striped
  font-weight 400
  font-size 15px

.react-bs-table .react-bs-container-header > table > thead > tr > th
  font-size 16px

.table-striped > tbody > tr:nth-child(2n+1) > td
.table-striped > tbody > tr:nth-child(2n+1) > th
  background-color #F7FCFF

.rowCenter
    display flex
    flex-direction row
    justify-content center
    padding-top 10px

.Select
    min-width 200px
    margin-left 20px

.emptyTable
    margin-top 200px
    margin-bottom 200px

